<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Dating App</a>


        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            @if (accountService.currentUser()) {
            <li class="nav-item">
                <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
            }
        </ul>

        @if(accountService.currentUser()) {
        <div dropdown class="dropdown">
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
                Welcome {{accountService.currentUser()?.username | titlecase}}
            </a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
            <!-- <button class="btn btn-outline-success me-2" (click)="logout()">Logout</button>  -->
        </div>
        }

        @if (!accountService.currentUser()) {
        <div>
            <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex align-items-center gap-2" autocomplete="off">
                <input class="form-control" name="username" [(ngModel)]="model.username" required="true" type="text"
                    placeholder="Username">
                <input class="form-control" name="password" [(ngModel)]="model.password" required="true"
                    placeholder="Password" type="password">
                <button class="btn btn-success me-2" type="submit">Login</button>
            </form>
        </div>
        }
    </div>
</nav>